<header class="header">
  <h1 class="title">{{ titlePage }}</h1>
  <p class="subtitle">{{ descriptionPage }}</p>
</header>

  <!-- HOME PAGE STATS -->
  <section class="split" aria-label="Statistiques principales" *ngIf="totalCountries !== undefined">
    <div>
        <p>Pays : </p> <p> {{ totalCountries }}</p>
    </div>
    <div>
        <p>Jeux Olympiques : </p> <p> {{ totalJos }}</p>
    </div>
    <div>
        <p>Médailles : </p> <p> {{ totalMedals }}</p>
    </div>
    <div>
        <p>Athlètes : </p> <p>{{ totalAthletes }}</p>
    </div>      
  </section>

 <!-- country PAGE STATS -->

   <section class="split" aria-label="Statistiques principales" *ngIf="countryName">
    <div>
        <p>Participations : </p> <p> {{ totalJos }}</p>
    </div>
    <div>
        <p>Médailles : </p> <p> {{ totalMedals }}</p>
    </div>
    <div>
        <p>Athlètes : </p> <p>{{ totalAthletes }}</p>
    </div>      
   </section>