.center {
  text-align: center;
  margin-bottom: 1rem;
}

.split {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.split > div {
  flex: 1 1 200px;
  text-align: center;
}
