<h2>Olympic games app</h2>
<hr />
<div>
  <div class="center">
    <div>{{ titlePage }}</div>
  </div>

  <div class="split">
    <div>
      <p>Number of countries</p>
      <p>{{ totalCountries }}</p>
    </div>
    <div>
      <p>Number of JOs</p>
      <p>{{ totalJOs }}</p>
    </div>
    <div>
      <p>Number of medals</p>
      <p>{{ totalMedals }}</p>
    </div>
    <div>
      <p>Number of athletes</p>
      <p>{{ totalAthletes }}</p>
    </div>
  </div>

  <div class="chart-container wrapper-container">
    <app-medal-chart
      [labels]="chartLabels"
      [data]="chartData"
      (countrySelected)="onCountrySelected($event)">
    </app-medal-chart>
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>
</div>
