.center {
  text-align: center;
  margin-bottom: 1rem;
}
.descriptionPage {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
}
.split {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.split > div {
  flex: 1 1 200px;
  text-align: center;
}

.chart-container {
  margin-top: 2rem;
}

.error {
  margin-top: 1rem;
  color: red;
  text-align: center;
}
