<main class="container">
<app-header
  [titlePage]="titlePage"
  [descriptionPage]="descriptionPage"
  [totalCountries]="totalCountries"
  [totalJos]="totalJOs"
  [totalMedals]="totalMedals"
  [totalAthletes]="totalAthletes">
</app-header>

    <app-medal-chart
      [labels]="chartLabels"
      [data]="chartData"
      [countryIds]="countryIds"
      (countrySelected)="onCountrySelected($event)">
    </app-medal-chart>


  <!-- <div *ngIf="error" class="error">
    {{ error }}
  </div> -->
</main>
