<div>
<app-header
  [titlePage]="titlePage"
  [descriptionPage]="descriptionPage"
  [totalCountries]="totalCountries"
  [totalJos]="totalJOs"
  [totalMedals]="totalMedals"
  [totalAthletes]="totalAthletes">
</app-header>
  <div class="chart-container wrapper-container">
    <app-medal-chart
      [labels]="chartLabels"
      [data]="chartData"
      [countryIds]="countryIds"
      (countrySelected)="onCountrySelected($event)">
    </app-medal-chart>
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>
</div>
