.center {
  grid-column: 1 / -1;       /* occupe toute la largeur de la grille */
  display: flex;             /* active flexbox */
  justify-content: center;   /* centre horizontalement */
     /* petit espace au-dessus */
}

.center a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #0b868f;
  color: white;
  border-radius: 0.5rem;
}

