<main class="container">
  <app-header
    [titlePage]="titlePage"
    [countryName]="titlePage"
    [descriptionPage]="descriptionPage"
    [totalJos]="totalJOs"
    [totalMedals]="totalMedals"
    [totalAthletes]="totalAthletes">
  </app-header>
<app-linechart
    [years]="years"
    [medalsOverTime]="medalsOverTime"
    [athletesOverTime]="athletesOverTime">
  </app-linechart>

  <div class="center">
    <a routerLink="">Go back</a>
  </div>

  <!-- <div *ngIf="error" class="error">
    {{ error }}
  </div> -->
</main>
