/* You can add global styles to this file, and also import other style files */
.chart-container {
  margin-top: 2rem;
}
// .wrapper-container {
//   display: flex;
//   justify-content: center;
// }
.split > div {
  flex: 1 1 200px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
.container {
  width: 50%;
  margin: 0 auto;
}

.error {
  margin-top: 1rem;
  color: red;
  text-align: center;
}
.heading {
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    margin: 5px;

    div {
        background: #0b868f;
        padding: 10px;
        border-radius: 10px;
        color: white;
    }
}

.split {
  display: flex;
  flex-direction: row;   // ou wrap si voulu
  flex-wrap: wrap;       // ajouté si utile globalement
  justify-content: center;
  gap: 1rem;             // ou 1rem si tu préfères
  margin-bottom: 2rem;   // remplace le margin: 5px global qui était incohérent

  div {
    padding: 10px;
    border: solid #0b868f 1px;
    border-radius: 10px;
    color: gray;

    p {
      text-align: center;
      margin: 0;
    }

    p:last-child {
      font-weight: bold;
      color: black;
    }
  }
}


